###49 + Antonio De Souza Leão Martins Neto
###1370 + Antonio Marcos De Oliveira Pereira Junior
###6852 + Guilherme de Alencar Silva
###6711 + Leticia Tenorio Contieri Bittar
###6348 + Maxwell De Assis Figueiredo Serra
###6243 + Nicolas Gabriel Almeida Ferreira
###6683 + Rodrigo Siqueira Cabral

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import scipy as sp
import statsmodels.api as sm
import patsy as pt

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
from google.colab import drive
drive.mount('/content/gdrive', force_remount=True)

Mounted at /content/gdrive

In [3]:
df = pd.read_csv('/content/gdrive/My Drive/Colab Notebooks/Data Expert/DAY 06 - Tarcísio Philips/nyflights.csv')

In [4]:
df.head()

   Unnamed: 0  year  month  day  ...  distance  hour  minute            time_hour
0           1  2013      1    1  ...      1400     5      15  2013-01-01 05:00:00
1           2  2013      1    1  ...      1416     5      29  2013-01-01 05:00:00
2           3  2013      1    1  ...      1089     5      40  2013-01-01 05:00:00
3           4  2013      1    1  ...      1576     5      45  2013-01-01 05:00:00
4           5  2013      1    1  ...       762     6       0  2013-01-01 06:00:00

[5 rows x 20 columns]

##1) Qual o comportamento médio e a variância dos dados dos voos que atrasam mais de 2h?

In [5]:
df2 = df[df['dep_delay']>120]
df2.head()

     Unnamed: 0  year  month  day  ...  distance  hour  minute            time_hour
151         152  2013      1    1  ...       184    18      35  2013-01-01 18:00:00
218         219  2013      1    1  ...       200     7      33  2013-01-01 07:00:00
268         269  2013      1    1  ...      1416     9       0  2013-01-01 09:00:00
491         492  2013      1    1  ...      1598    13      38  2013-01-01 13:00:00
649         650  2013      1    1  ...      1134    13      25  2013-01-01 13:00:00

[5 rows x 20 columns]

In [6]:
df22 = df2[['dep_delay']]

In [7]:
df2new = df22.describe()

In [8]:
df2new.loc['variance'] = df2new.loc['std']**2 
df2new

            dep_delay
count     9723.000000
mean       186.983236
std         74.596836
min        121.000000
25%        139.000000
50%        166.000000
75%        210.000000
max       1301.000000
variance  5564.687952

In [9]:
df2new.transpose()

            count        mean        std  ...    75%     max     variance
dep_delay  9723.0  186.983236  74.596836  ...  210.0  1301.0  5564.687952

[1 rows x 9 columns]

## 2. Quais destinos geraram voos com o maior número de atrasos na partida? 
(5 piores | Considerar 5 minutos um atraso aceitável)

In [10]:
df3 = df[df['dep_delay']>5]

In [11]:
df4 = df3[['dest']]

In [12]:
destinos = df4.value_counts(ascending=False).head(5)

In [13]:
destinos

dest
ORD     4975
ATL     4687
LAX     4442
MCO     4083
SFO     4078
dtype: int64

In [14]:
destinos2 = pd.DataFrame(destinos)

In [16]:
destinos2.reset_index(level=0, inplace=True)

In [17]:
destinos2

  dest     0
0  ORD  4975
1  ATL  4687
2  LAX  4442
3  MCO  4083
4  SFO  4078

##3. Quais são as velocidades médias dos voos nos 5 destinos que mais ocorrem atrasos.
PLUS: Aumentar a velocidade média dos voôs pode ser uma solução para diminuir os atrasos? Responda graficamente.

In [18]:
df3['Velocidade'] = df3['distance']/df3['air_time']

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [19]:
df5 = df3[['dest','Velocidade']]

In [20]:
df6 = df5[df5['dest'].isin(destinos2['dest'])]

In [27]:
df6.groupby(by=['dest']).mean()

      Velocidade
dest
ATL     6.773001
LAX     7.595234
MCO     7.059744
ORD     6.335472
SFO     7.493244